Данные о системе/soap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown.--><xs:schema version="1.0" targetNamespace="http://soapstub.mycompany.com/" xmlns:tns="http://soapstub.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="processCash" type="tns:processCash"/>
  <xs:element name="processCashResponse" type="tns:processCashResponse"/>
  <xs:complexType name="processCash">
    <xs:sequence>
      <xs:element name="arg0" type="tns:cashOperationRq" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cashOperationRq">
    <xs:sequence>
      <xs:element name="account" type="xs:string" minOccurs="0"/>
      <xs:element name="amount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="processCashResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:cashOperationRs" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cashOperationRs">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="statuscode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>